@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer<LanguageResource> languageResource

@if (SignInManager.IsSignedIn(User))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-2 mb-3">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Notice"><img class="logo" src="~/Images/GodzillaPlaceHolderLogo.JPG" alt="logo"> </a>
                        </li>
                    </ul>
                    <form class="d-flex navbar-nav">
                        <li class="nav-item icons">
                            <a asp-controller="Home" asp-action="Notice" class="navbar-brand center">
                                <i class="fa-solid fa-clipboard fa-2x"></i>
                                <p>@languageResource["Announcements"]</p>
                            </a>
                        </li>
                        <li class="nav-item icons">
                            @if (User.IsInRole("Teacher"))
                            {
                                <a asp-controller="Teacher" asp-action="Index" class="navbar-brand center">
                                    <i class="fa-solid fa-table-list fa-2x"></i>
                                    <p>@languageResource["Courses"]</p>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Student" asp-action="ViewCourses" class="navbar-brand center">
                                    <i class="fa-solid fa-table-list fa-2x"></i>
                                    <p>@languageResource["Courses"]</p>
                                </a>
                            }
                        </li>
                        <li class="nav-item icons">
                            <a asp-controller="Student" asp-action="StudentGrades" class="navbar-brand center">
                                <i class="fa-solid fa-book fa-2x"></i>
                                <p>@languageResource["Grades"]</p>
                            </a>
                        </li>

                    </form>
                </div>
            </div>
        </nav>
    </header>
}
