@{
    ViewData["Title"] = "Add new announcement";
}

<div>
    <div class="card">
        <div class="card-header color-header">
            <div class="d-flex py-1">
                <div class="form-floating w-75">
                    <input class="form-control" aria-required="true">
                    <label class="form-label">Topic</label>
                </div>
                <div class="form-floating ms-auto w-auto">
                    <select class="form-select" name="class"></select>
                </div>

            </div>
        </div>
        <div class="card-body color-body">
            <div class="form-floating pb-4 py-1 ">
                <textarea class="form-control" aria-required="true"></textarea>
                <label class="form-label">Content</label>
            </div>
            <div class="d-flex">
                <!--
                <div class="form-floating">
                    <input class="form-control" aria-required="true">
                    <label class="form-label">Sender</label>

                </div>
                <div class="form-floating align-self-center px-4">
                    <p class="align-self-center">-</p>
                </div>
                <div class="form-floating">
                    <input class="form-control" aria-required="true">
                    <label class="form-label">Date</label>
                </div>
                -->
                <div class="form-floating ms-auto align-self-center">
                    <a class="btn btn-primary">@languageResource["AddAnnouncement"] <i class="fa-regular fa-square-plus"></i></a>
                </div>

            </div>

        </div>
    </div>
</div>



