<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-controller="User" asp-action="Index">@languageResource["Profile"]</a></li>
    <li class="nav-item"><a class="nav-link" id="password" asp-controller="User" asp-action="Password">@languageResource["Password"]</a></li>
    <li class="nav-item"><a class="nav-link" id="email" asp-controller="User" asp-action="ChangeEmail">@languageResource["ChangeEmail"]</a></li>

    <li class="nav-item"><a class="nav-link" id="change-password" asp-controller="User" asp-action="ChangePassword">Change @languageResource["Password"]</a></li>

</ul>
@section Scripts{
<script>
    $(document).ready(function(){

        $('.nav.nav-pills.flex-column').find('[href="'+window.location.pathname+'"]').parent().addClass('active');
    });
</script>
}