@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
}

<h3>@languageResource["Profile"]</h3>

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" novalidate="novalidate">            
            <div class="form-floating">
                <input class="form-control" disabled="" type="text" id="Username" name="Username" value="@User.Identity?.Name">
                <label class="form-label" for="Username">Username</label>
            </div>
        </form>
    </div>
</div>
