
@{
    ViewData["Title"] = "Password";
}
<h3>@languageResource["ChangePassword"]</h3>

<div class="row">
    <div class="py-3">
        <form method="post">
            <div class="py-1">
                <button type="submit" class="w-100 btn btn-lg btn-primary">@languageResource["LinkToChange"]</button>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

