@using EDUZilla.ViewModels.Grade
@using EDUZilla.ViewModels.Student

@{
    ViewData["Title"] = "Oceny";
}

<h1>Oceny klasy @Model.ClassName</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="auto">Uczniowie</th>
                <th scope="auto">Oceny</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentCourseGradesViewModel student in Model.Students)
            {
                var routeValues = new Dictionary<string, string>
                {
                    {"studentId", "" + student.StudentId},
                    {"courseId", "" + Model.CourseId},
                    {"classId", "" + Model.ClassId}
                };
                <tr>
                    <td scope="auto" class="col-3">@student.FirstName @student.LastName</td>
                    <td scope="auto" class="col-6">
                        @foreach (GradeViewModel grade in student.Grades)
                        {
                            <span class="badge text-bg-primary">@grade.Value</span>
                        }
                    </td>
                    <td scope="col">
                        <a class="btn btn-primary" asp-action="AddGrade" asp-all-route-data="routeValues">Dodaj Ocenę</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
