html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;  
    margin-bottom: 60px;
    height: 100%;
    width: auto;
}

.logo {
    height: 80px !important;
    width: auto;
}

.icons {
    height: 80px !important;
    width: 120px;
}
.center {
    align-items: center;
    display: block;
    margin: 0 auto;
    text-align: center;
}