@using EDUZilla.ViewModels.Course

@{
    ViewData["Title"] = "Przedmioty";
}

<form method="post" asp-controller="Course" asp-action="AddCourse">
    <div class="input-group mb-3">
        <label class="input-group-text">Dodaj przedmiot</label>
        <input name="name" type="text" placeholder="Nazwa przedmiotu" class="form-control" />
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Edytuj</th>
        </tr>
    </thead>
    <tbody>
        @foreach(CourseListViewModel course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td><a asp-action="EditCourse" asp-route-id="@course.Id">Edytuj</a></td>
            </tr>
        }
    </tbody>
</table>
